@font-face {
  font-family: red-hat-text;
  src: url("../fonts/redHatText.ttf");
}
@font-face {
  font-family: open-sans;
  src: url("../fonts/openSans.ttf");
}
* {
  padding: 0;
  margin: 0;
  font-family: open-sans, sans-serif;
}

html, body {
  min-height: 100%;
  width: 100%;
}

.main {
  display: flex;
  flex-flow: column nowrap;
}

.padding-sides {
  box-sizing: border-box;
  line-height: 2em;
}
@media (orientation: portrait) {
  .padding-sides {
    margin: 0 10px 0 10px;
  }
}
@media (orientation: landscape) {
  .padding-sides {
    width: min(1300px, 100%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 2em;
    padding: 2em;
    margin-left: max((100% - 1300px) / 2, 0px);
  }
}

h1 {
  position: relative;
  font-family: red-hat-text, sans-serif;
  font-weight: 700;
  background-color: #1a2633;
  color: white;
  padding: 10px;
}
h1::after {
  bottom: 5%;
  right: 0;
  display: block;
  position: absolute;
  content: "";
  height: 100%;
  width: calc(1em + 20px);
  border-right: 10px white solid;
  border-bottom: 10px white solid;
  transform: rotateZ(45deg) scale(0.4);
}

p {
  padding-bottom: 1em;
}

.slight-padding-left {
  padding-left: 1em;
}
@media (orientation: landscape) {
  .slight-padding-left {
    padding-left: 5em;
  }
}

.splash {
  height: 100vh;
  display: flex;
  flex-flow: row;
  align-items: center;
  background-color: #85a5bb;
  color: #1a2633;
}

.title-text {
  font-size: 5em;
  font-family: red-hat-text, sans-serif;
  font-weight: 500;
  letter-spacing: -6px;
}
.title-text:first-of-type {
  -webkit-text-stroke: 1.5px #1a2633;
  color: white;
}

.subtitle-text {
  font-family: red-hat-text;
}

.flex-column {
  display: flex;
  flex-flow: column nowrap;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
}

@media (orientation: landscape) {
  .down-arrow {
    width: 10px;
    margin-right: 30px;
    background-color: #1a2633;
    position: relative;
  }
  .down-arrow::after {
    display: block;
    position: absolute;
    bottom: -0.8px;
    transform: rotatez(-45deg);
    right: 125%;
    content: "";
    height: 30px;
    width: 10px;
    background-color: #1a2633;
  }
}

.info-label {
  margin-top: 50px;
  display: flex;
  flex-flow: column;
  cursor: pointer;
}
.info-label input[type=checkbox] {
  display: none;
}
.info-label:has(input[type=checkbox]:checked) + .info-content-wrapper {
  cursor: auto;
  grid-template-rows: 1fr;
}

.info-content-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: 0.2s all;
}

.info-content {
  overflow: hidden;
}

.gallery {
  width: 100%;
}
.gallery > img {
  max-width: 100%;
  max-height: 300px;
}

.skills-list {
  display: flex;
  flex-flow: row wrap;
}

.skill {
  background-color: #85a5bb;
  color: #1a2633;
  padding: 5px;
  border-radius: 10px;
  white-space: nowrap;
}

footer {
  background-color: #1a2633;
  padding: 50px;
  color: white;
  margin-top: 50px;
}

a {
  color: #85a5bb;
}
a:visited {
  color: #85a5bb;
}

img {
  max-width: 100%;
}

.lightbox-target {
  cursor: pointer;
  border: 1px solid #1a2633;
  max-width: calc(100% - 2px);
}

.reviews > p {
  border-bottom: 1px solid #1a2633;
}/*# sourceMappingURL=style.css.map */